<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Kidney Stones Prediction</title>
  </head>
    <body> <div class="bg-light">
        <div class="alert alert-success text-center mb-0" role="alert">
 Welcome to Kidney Stoney Prediction Machine!
</div>
      
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" href="/">Kidney Stone Prediction </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About Dataset</a>
        </li>
    </div>
  </div>
</nav>
          
    <div class="container-fluid ">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-6 mt-5">
            <div class="container-fluid">
            <h2 class="text-center mb-4">About Dataset</h2>
            
        
            <p>The 79 urine specimens, were analyzed in an effort to
determine if certain physical characteristics of the urine might be related to the
                                     formation of calcium oxalate crystals.</p>
            <p>The six physical characteristics of the urine are:</p> 
            <li><strong>Specific Gravity :</strong> the density of the urine relative to water.The normal range for urine specific gravity is 1.005 to 1.030 </li>  <li><strong>PH :</strong> the negative logarithm of the hydrogen ion.The normal values range from pH 4.6 to 8.0.</li><li><strong>Osmolarity :</strong> a unit used in biology and medicine but not in
physical chemistry. Osmolarity is proportional to the concentration of
molecules in solution.The normal range for osmolarity is 50 to 1200 mOsm/kg. </li><li><strong>Conductivity :</strong>. One Mho is one
reciprocal Ohm. Conductivity is proportional to the concentration of charged
            ions in solution.The normal range for urine conductivity is 1 to 40 Ohm.</li><li><strong>Urea Concentration :</strong> in millimoles per litre.Normal values range is 214.2mmol/litre to 360 mmol/litre</li>  <li><strong>Calcium
Concentration :</strong> in millimoleslitre.The normal range of calcium concentration is 2.50 to 7.50 millimoles/litre                </li>
                <br>
                
           </div>    </div>
      
             <div class="col-lg-4">
                  
                  <div class="row">
                    <div class="col-2"></div> 
                      
                   <div class="col-lg-8 mt-5">
    <figure class="figure mt-5">
        <img src="static/urinetest.jpg" class="img-fluid rounded" alt="...">
                 
                     
                     <figcaption class="figure-caption"><h6>A urinalysis is a test of your urine. It's used to detect and manage a wide range of disorders, such as urinary tract infections, kidney disease and diabetes.</h6></figcaption>
                 
                 
            </figure>
                        
             </div> 
              </div>
                  </div>
                  </div> 
      </div>
        
        <div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-6 mt-4">
            <div class="container-fluid">
          <h2 class="text-center mb-4">Overview</h2><!--googleon: all-->
       

<p>Kidney stones (also called renal calculi, nephrolithiasis or urolithiasis) are hard deposits made of minerals and salts that form inside your kidneys.</p>
<p>Diet, excess body weight, some medical conditions, and certain supplements and medications are among the many causes of kidney stones. Kidney stones can affect any part of your urinary tract — from your kidneys to your bladder. Often, stones form when the urine becomes concentrated, allowing minerals to crystallize and stick together.</p
<p> Passing kidney stones can be quite painful, but the stones usually cause no permanent damage if they're recognized in a timely fashion. Depending on your situation, you may need nothing more than to take pain medication and drink lots of water to pass a kidney stone.  In other instances — for example, if stones become lodged in the urinary tract, are associated with a urinary infection or cause complications — surgery may be needed.</p>
<p>Your doctor may recommend preventive treatment to reduce your risk of recurrent kidney stones if you're at increased risk of developing them again.</p>
                </div>   
        </div>
                       
        <div class="col-lg-4">
                  
                  <div class="row">   
                    <div class="col-2">   </div> 
                      
                   <div class="col-lg-8 mt-4">
    <figure class="figure mt-5">
                 <img src="static/kidney2.jpg" alt="" class="img-fluid rounded float-end"> 
                     
                     <figcaption class="figure-caption"><h6></h6></figcaption>
                 
                 
            </figure>
                        
             </div> 
              </div>
                  </div>
                  </div> 
      </div>
      

            
   <div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-6 mt-4 ">
            <div class="container-fluid">

<h2 class="text-center">Symptoms</h2>


<br>


<p>A kidney stone usually will not cause symptoms until it moves around within the kidney or passes into one of the ureters. The ureters are the tubes that connect the kidneys and bladder.</p>
<p>If a kidney stone becomes lodged in the ureters, it may block the flow of urine and cause the kidney to swell and the ureter to spasm, which can be very painful. At that point, you may experience these symptoms:</p>
<ul>
    <li>Severe, sharp pain in the side and back, below the ribs</li>
    <li>Pain that radiates to the lower abdomen and groin</li>
    <li>Pain that comes in waves and fluctuates in intensity</li>
    <li>Pain or burning sensation while urinating</li>
</ul>
<p>Other signs and symptoms may include:</p>
<ul>
    <li>Pink, red or brown urine</li>
    <li>Cloudy or foul-smelling urine</li>
    <li>A persistent need to urinate, urinating more often than usual or urinating in small amounts</li>
    <li>Nausea and vomiting</li>
    <li>Fever and chills if an infection is present</li>
</ul>
<p>Pain caused by a kidney stone may change for instance, shifting to a different location or increasing in intensity as the stone moves through your urinary tract.</p>
                
                  </div>    </div>
      <div class="col-lg-4">
                  
                  <div class="row">   
                    <div class="col-2">   </div> 
                      
                   <div class="col-lg-8 mt-3">
    <figure class="figure mt-5">
                 <img src="static/kidney-stones-symptoms.jpg" alt="" class="img-fluid rounded float-end"> 
                     
                     <figcaption class="figure-caption"><h6></h6></figcaption>
                 
                 
            </figure>
                       
                       
                       
                       </div> 
              </div>
                  </div>
                  </div> 
      </div>
        
        
        <div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-6">
            <div class="container-fluid">
<br>
       

 <h2 class="text-center">When to see a doctor</h2>
            <br>
            <p>Make an appointment with your doctor if you have any signs and symptoms that worry you.</p>
<p>Seek immediate medical attention if you experience:</p>
<ul>
    <li>Pain so severe that you can't sit still or find a comfortable position</li>
    <li>Pain accompanied by nausea and vomiting</li>
    <li>Pain accompanied by fever and chills</li>
    <li>Blood in your urine</li>
    <li>Difficulty passing urine</li>
</ul>    
                <br>
                <h2 class="text-center">Causes</h2>
            <br>
            <p>Kidney stones often have no definite, single cause, although several factors may increase your risk.</p>
<p>Kidney stones form when your urine contains more crystal-forming substances — such as calcium, oxalate and uric acid — than the fluid in your urine can dilute. At the same time, your urine may lack substances that prevent crystals from sticking together, creating an ideal environment for kidney stones to form.</p>
                  </div>    </div>
      <div class="col-lg-4">
                  
                  <div class="row">
                    <div class="col-2"></div> 
                      
                   <div class="col-lg-8 mt-5">
                       
                       
                     <figure class="figure mt-1">
                      </figure>
                
            
                     
                      <figure class="figure">
                 <img src="static/woman_with_doctor_724x483.webp" alt="" class="img-fluid rounded float-end"> 
                     
                     
                     
                     
                     <figcaption class="figure-caption "><h6> Severe, sharp pain in the side and back, below the ribs. </h6> </figcaption>
                 
                 
                     </figure>
                       
                       
                       </div> 
              </div>
                  </div>
                  </div> 
      </div>
        
        <div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-6">
            <div class="container-fluid">
<br>
       

  <h2 class="text-center">Types of kidney stones</h2>
            <br>
            <p>Knowing the type of kidney stone you have helps determine its cause, and may give clues on how to reduce your risk of getting more kidney stones. If possible, try to save your kidney stone if you pass one so that you can bring it to your doctor for analysis.</p>
<p>Types of kidney stones include:</p>
<ul>
    <li>
    <p><strong>Calcium stones.</strong> Most kidney stones are calcium stones, usually in the form of calcium oxalate. Oxalate is a substance made daily by your liver or absorbed from your diet. Certain fruits and vegetables, as well as nuts and chocolate, have high oxalate content.</p>
    <p>Dietary factors, high doses of vitamin D, intestinal bypass surgery and several metabolic disorders can increase the concentration of calcium or oxalate in urine.</p>
    <p>Calcium stones may also occur in the form of calcium phosphate. This type of stone is more common in metabolic conditions, such as renal tubular acidosis. It may also be associated with certain medications used to treat migraines or seizures, such as topiramate (Topamax, Trokendi XR, Qudexy XR).</p>
    </li>
    <li><strong>Struvite stones.</strong> Struvite stones form in response to a urinary tract infection. These stones can grow quickly and become quite large, sometimes with few symptoms or little warning.</li>
    <li><strong>Uric acid stones.</strong> Uric acid stones can form in people who lose too much fluid because of chronic diarrhea or malabsorption, those who eat a high-protein diet, and those with diabetes or metabolic syndrome. Certain genetic factors also may increase your risk of uric acid stones.</li>
    <li><strong>Cystine stones.</strong> These stones form in people with a hereditary disorder called cystinuria that causes the kidneys to excrete too much of a specific amino acid.</li>
</ul>
        <br>
                  </div>    </div>
      <div class="col-lg-4">
                  
                  <div class="row">
                    <div class="col-2"></div> 
                      
                   <div class="col-lg-8 mt-5">
                       
                       
                     
                           <figure class="figure mb-4">
                 <img src="static/2513962-What-Are-the-Different-Types-of-Kidney-Stones.webp" alt="" class="img-fluid rounded float-end"> 
                     
                     
                     
                     <figcaption class="figure-caption"><h6> Kidney stones can be various sizes. Those that are 3mm and smaller have about an 85% of passing on their own. Stones 4mm have about a 50% chance, and stones 5mm and above have about a 30-40% chance of a person passing it successfullyr</h6></figcaption>
                 
                 
                     </figure>
                     
                       
                       
                       </div> 
              </div>
                  </div>
                  </div> 
      </div>
        <div class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-lg-6 ">
            <div class="container-fluid">
<br>
       

 <h2 class="text-center">Risk factors</h2>
            <br>
           
            <p>Factors that increase your risk of developing kidney stones include:</p>
<ul>
    <li><strong>Family or personal history.</strong> If someone in your family has had kidney stones, you're more likely to develop stones, too. If you've already had one or more kidney stones, you're at increased risk of developing another.</li>
    <li><strong>Dehydration.</strong> Not drinking enough water each day can increase your risk of kidney stones. People who live in warm, dry climates and those who sweat a lot may be at higher risk than others.</li>
    <li><strong>Certain diets.</strong> Eating a diet that's high in protein, sodium (salt) and sugar may increase your risk of some types of kidney stones. This is especially true with a high-sodium diet. Too much salt in your diet increases the amount of calcium your kidneys must filter and significantly increases your risk of kidney stones.</li>
    <li><strong>Obesity.</strong> High body mass index (BMI), large waist size and weight gain have been linked to an increased risk of kidney stones.</li>
    <li><strong>Digestive diseases and surgery.</strong> Gastric bypass surgery, inflammatory bowel disease or chronic diarrhea can cause changes in the digestive process that affect your absorption of calcium and water, increasing the amounts of stone-forming substances in your urine.</li>
    <li><strong>Other medical conditions</strong> such as renal tubular acidosis, cystinuria, hyperparathyroidism and repeated urinary tract infections also can increase your risk of kidney stones.</li>
    <li><strong>Certain supplements and medications,</strong> such as vitamin C, dietary supplements, laxatives (when used excessively), calcium-based antacids, and certain medications used to treat migraines or depression, can increase your risk of kidney stones.</li>
</ul>
                  </div>    </div>
      <div class="col-lg-4">
                  
                  <div class="row">
                    <div class="col-2"></div> 
                      
                   <div class="col-lg-8 mt-5">
                       
                       
                      <figure class="figure">
                 <img src="static/beslenme.jpg" alt="" class="img-fluid rounded float-end"> 
                     <br>
                     <br>
                     
                     
                   <figcaption class="figure-caption"><h6>Limiting the above High-oxalate foods helps prevent kidney stones.</h6></figcaption>
                 
                 
                     </figure> 
                       
                       
                       </div> 
              </div>
                  </div>
                  </div> 
      </div>
         </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>